# Github workflow for auto-pushing
# Modified example from https://github.com/Azure/actions-workflow-samples/tree/master/AppService

name: App service Build and Deploy Python package to Azure Web App

on:
  [push]

# CONFIGURATION
# For help, go to https://github.com/Azure/Actions
#
# 1. Set up the following secrets in your repository:
#   AZURE_WEBAPP_PUBLISH_PROFILE
#
# 2. Change these variables for your configuration:
env:
  AZURE_WEBAPP_NAME: project1-demo        # set this to your application's name
  AZURE_WEBAPP_PACKAGE_PATH: '.'          # set this to the path to your web app project, defaults to the repository root
  PYTHON_VERSION: '3.12'                  # set this to the python version to use

jobs:
  build:
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Building web app
      uses: azure/appservice-build@v3
    - name: Login to Azure
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_CE5DBFAD898E42B185BFEDBE24C8870A }}
        tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_3090D84E6DF645E180DE3B8DB1400CCA }}
        subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_E7E50B2D268F4BA8A152D1C8AA34D24F }}
    - name: Deploy web App using GH Action azure/webapps-deploy
      uses: azure/webapps-deploy@v3
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}


# Same link as above, follow for different deploy methods to Azure
# For more samples to get started with GitHub Action workflows to deploy to Azure, refer to https://github.com/Azure/actions-workflow-samples    
